body {
	background-color: teal;
	font-family: Helvetica;
}

header > img {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 20px;
	font-family: Helvetica;
	color: white;
}

section {
	display: flex;
	justify-content: center;
	margin: auto;
}

input {
	margin-top: 20px;
	padding-top: 5px;
	width: 500px;
	border-radius: 3px;
	font-size: 14;
	padding-bottom: 5px;
	justify-content: center;
	color: grey;
	padding-left: 5px;
}

button {
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 3px;
	padding-left: 2px;
    padding-top: 3px;
    border-style: none;
    background-color: rgb(98,159,160);
}


/*.playSong {
	width: 100px;
}*/

.information button {
	margin-left: 0px;
	background-color: none;
	margin-right: 8px;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}

.information img {
    float: left;
    height: 8px;
    width: 8px;
    padding-left: 2px;
    padding-top: 3px;
    padding-right: 8px;
}

.buttons button {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	background-color: none;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}

.buttons img {
    float: left;
    height: 8px;
    width: 8px;
    padding-left: 2px;
    padding-top: 3px;
    padding-right: 8px;
}

.playURL {
	display: none;
}

.addToPlaylist {
	width: 140px; 
}

#playlist .remove .buttonContainer img {
	width: 10px;
	height: 1px;
	padding-left: 2px;
	padding-top: 5px;
}

.buttonContainer {
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
}

#results {
	margin-top: 20px;

}

#searchResults {
	float: left;
}


#logo {
	width:20px;
	flex: right;
}

.smallIcon {
	width:5px;
	height: 5px;
}

.information {
	display: block;
	margin-left: 20px;
}

.cover {
	disp
	width: 80px;
	height: 80px;
}

.user {
	text-transform: uppercase;
	font-size: 12px;
	color: black;
	display: block;
	margin-top: 10px;
}

#searchResults .title {
	display: block;
	margin-top: 10px;
	width: 400px;
	font-size: 14px;
}

#playlist .title {
	display: block;
	margin-top: 10px;
	width: 300px;
	font-size: 14px;
}

.card {
	margin-right: 7px;
	border-radius: 3px;
	text-align: left;
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 5px;
	overflow: auto;
	display: flex;
	width: 480px;
}

.column {
    float: left;
    height: 70vh;
	width: 550px;
	background-color: rgb(98,159,160);
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 10px;
	padding-left: 10px;
	overflow: scroll;
}

.upAndDownContainer {
	display: block;
}

.up {
	display: block;
}

.down {
	margin-top: 5px;
}

.up img {
	width: 15px;
	height: 15px;
}

.down img {
	width: 15px;
	height: 15px;
}

#playlist .card {
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 1px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#playlist .playSong {
	float: right;
	margin-right: 0px;
}

.remove {
	width: 75px; 
	font-size: 9px;
	float: right;
	margin-right: 0px;
}


