body {
	font-family: Verdana, helvetica, sans-serif;
	font-size: 15px;
	background-color: #ff8800;
}

img#logo {
	width: 180px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#header {
	text-align: center;
}

#content {
	min-width: 1000px;
	margin-top: 10px;
}

#results {
	min-width: 400px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

#playlist{
	min-width: 400px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

#searching {
	color: white;
	margin-bottom: 10px;
}

#search-input {
	width: 220px;
	height: 35px;
}

.search {
	display: inline-block;
	padding-bottom: 20px;
	padding-left: 10px;
}

button {
	color: var(--color-snow);
	background: #A9A9A9;
	text-align: center;
	color: white;
	font-size: 15;
	font-family: helvetica;
	padding: 10px;
	padding-left:20px;
	padding-right:20px;
	margin-right: 30px;
	margin-left: 10PX;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

button #play {
   background: url(https://i.stack.imgur.com/AI5Kp.jpg) no-repeat;
}

#results #moveup, #results #movedown {
	display: none;
}


#play {
	visibility: visible;
		display: inline-block;
		float: right;
}

#results .queueup {
	display: inline-block;
	float: left;
}

#playlist .queueup {
	display: none;
}

.song {
	height: 80px;
	background-color: white;
	padding: 10px;
	margin-top: 10px;
}

.descriptor {
	display: inline-block;
	width: 220px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
}

.column {
	width: 49%;
	display: inline-block;
	border: none;
	border-radius: 3px;
	font-family: helvetica;
	/* color: var(--color-snow);
	background: #A9A9A9;
	text-align: center;
	color: white;
	font-size: 15px; */
}

#delete {
	float: right;
}

#results #delete {
	display: none;
}

#playlist #moveup, #playlist #movedown {
	float: left;
}

.artwork {
	display: inline;
	height: 82px;
	width: 82px;
	text-align: right;
}

.queueup, .added {
	float: left;
	width: 75px;
}
