#logo {
	width: 100px;
}


h1, img {
   display:inline-block;
   vertical-align: middle;
}
h1 {
	padding-left: 10px;
	font-family: Arial;

}

h2 {
	font-style: normal;
	vertical-align: middle;
}

#init {
	font-family: Helvetica;
}

#searchResults, #playlistResults {
	display: inline-block;
}

#search, #playlist {
	border:1px solid #949699; 
}

#playlistResults {
	padding-left: 20px;
}

#artworkColumn, #titleColumn, #artistColumn, #actionColumn, #title, #artist{
    width: auto;
}

#artwork {
    width: 120px;
    height: 120px;
}
table{
    border: 1px solid black;
    width: auto;
    table-layout: fixed;
    max-width: 500px;
}


tr{
    border: 1px solid black;
    display: table-row;
    max-width: 400px;
}

td{
    border: 1px solid black;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow:hidden;
}




.playButton {
    width: auto;
}

.playlistButton{
    width: auto;
}